default_job = "clippy"

[jobs]

[jobs.clippy]
command = ["cargo", "clippy", "--color", "always"]
need_stdout = false

[jobs.clippy-all]
command = ["cargo", "clippy", "--all-targets", "--color", "always"]
need_stdout = false
watch = ["tests", "benches", "examples"]

[jobs.test]
command = [
    "cargo",
    "nextest",
    "run",
    "--color",
    "always",
    "--status-level",
    "fail",
]
need_stdout = true
watch = ["tests"]

[jobs.doc]
command = ["cargo", "doc", "--color", "always", "--no-deps"]
need_stdout = false

[jobs.doc-open]
command = ["cargo", "doc", "--color", "always", "--no-deps", "--open"]
need_stdout = false
on_success = "back"

[jobs.run]
command = ["cargo", "run", "--color", "always"]
need_stdout = true
allow_warnings = true

[jobs.help]
command = ["cargo", "run", "--color", "always", "--", "-h"]
need_stdout = true
allow_warnings = false

[keybindings]
a = "job:clippy-all"
i = "job:initial"
c = "job:clippy"
d = "job:doc-open"
t = "job:test"
r = "job:run"
h = "job:help"
k = "scroll-lines(-1)"
j = "scroll-lines(1)"
